@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Source Serif 4", serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  h1 {
    font-family: "SourceSerif4Variable";
    font-variation-settings: "wght" 400;
  }
}
